
<div class="container">
  <div class="row">
      <div class="col-3 ">
          <img src="/assets/profile.jpg" style="border-radius:100%; width: 200px">
      </div>
      <div class="col-9">

          <h1 class="display-4">Odo Luo</h1>
          <p>
              Hey, welcome to my page! I seek to be a Data Scientist. As such, I am much intrested into data and I love to work with them. My believe is, that we can change the world by changing the accessibility towards data.
          </p>
          <p> My motto: Semper Fidelis - Semper Fortis - Semper Paratus</p>
          <p>
              <strong>Kownledge:</strong>
              <span class="badge badge-info">Dash & Plotly</span>
              <span class="badge badge-info">Machine Learning</span>
              <span class="badge badge-info">Python</span>
              <span class="badge badge-info">Anonymization</span>
              <span class="badge badge-info">Image Segmentation</span>
              <span class="badge badge-info">Business Processes</span>
              <span class="badge badge-info">...</span>
          </p>
      </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="col  offset-1">
          <div class=row>
            <app-skills-and-degree-partial></app-skills-and-degree-partial>
          </div>
          <div class="row">
              <app-hobbies-and-languages-partial></app-hobbies-and-languages-partial>
          </div>
      </div>
      <div class="col ">
          <app-work-and-education-partial></app-work-and-education-partial>>
      </div>
  </div>

</div>


