
<div class="container-fluid">
    <div class="row">
        <section id="what-we-do">
            <div class="container-fluid">
                <h2 class="section-title mb-2 h1">Languages</h2>
                <p> Levels: Basic 1-2 <i class="fa fa-star"></i>  Advanced 3-4 <i class="fa fa-star"></i>   Master 5 <i class="fa fa-star"></i> </p>
                <div class="row mt-5">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card h-60 ">
                            <div class="card-block block-1 p-3" >
                                <h3 class="card-title">German</h3>
                                <p>Level: Native</p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card  h-60">
                            <div class="card-block block-2 p-3">
                                <h3 class="card-title">English</h3>
                                <p>Level: Advanced</p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card  h-60">
                            <div class="card-block block-3 p-3">
                                <h3 class="card-title">Chinese</h3>
                                <p>Level: Basic</p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
  
            </div>
        </section>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="row">
        <section id="what-we-do">
            <div class="container-fluid">
                <h2 class="section-title mb-2 h1">Interest </h2>
                <div class="row mt-5">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card h-100 ">
                            <div class="card-block block-1 p-3" >
                                <h3 class="card-title">Law</h3>
                                <p>Distance study at the Johannes Kepler University.</p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card  h-100">
                            <div class="card-block block-3 p-3">
                                <h3 class="card-title">Ethic</h3>
                                <p>Interested into ethics, especially over the concept of utilitarianism from Jeremy Bentham.</p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card  h-100">
                            <div class="card-block block-2 p-3">
                                <h3 class="card-title">Statistics and public information</h3>
                                <p>I like to look up public statistics (e.g. inflation, birth/death rate, corona cases etc.)</p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card h-100 ">
                            <div class="card-block block-1 p-3" >
                                <h3 class="card-title">Anime</h3>
                                <p>Psycho Pass, Black Clover, Gundam Seed Destiny, Code Geass and more!</p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card  h-100">
                            <div class="card-block block-2 p-3">
                                <h3 class="card-title">Photography</h3>
                                <p>Cosplay and fashion photography! :)</p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                        <div class="card  h-100">
                            <div class="card-block block-3 p-3">
                                <h3 class="card-title">(Audio) Books</h3>
                                <p>Fantasy but also history books</p> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
