
<div class="container">
  <div class="row">
      <div class="col-2 ">
          <img class="img-fluid" src="/assets/profile.jpg" style="border-radius:100%; width: 200px">
      </div>
      <div class="col-10">
        <div class="row">
            
        </div>
          <h1 class="display-4">Odo Luo</h1>
          <p>
              Hey, welcome to my page! (Former) Software Developer interested in Data Science. As such, I am much interested into data and I love to work with them. My believe is that we can change the world by changing the accessibility towards data.
              CI does not only mean Continuous Integration to me, but also Continuous Improvement on my behalf.
          </p>
          <p>
              <strong>Knowledge:</strong>
              <span style="margin-left: 5px;"  class="badge bg-info">Dash & Plotly</span>
              <span style="margin-left: 5px;"  class="badge bg-info">Machine Learning</span>
              <span style="margin-left: 5px;"  class="badge bg-info">Python</span>
              <span style="margin-left: 5px;"  class="badge bg-info">Anonymization</span>
              <span style="margin-left: 5px;"  class="badge bg-info">Image Segmentation</span>
              <span style="margin-left: 5px;"  class="badge bg-info">Business Processes</span>
              <span style="margin-left: 5px;"  class="badge bg-info">...</span>
          </p>
      </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
      <div class="col  offset-1">
          <div class="row mb-4">
            <app-skills-and-degree-partial></app-skills-and-degree-partial>
          </div>
          <div class="row">
              <app-hobbies-and-languages-partial></app-hobbies-and-languages-partial>
          </div>
      </div>
      <div class="col ">
          <app-work-and-education-partial></app-work-and-education-partial>>
      </div>
  </div>
</div>


