
<div class="container">
    <div class="row">
        <div class="col-3 ">
            <img src="https://secure.meetupstatic.com/photos/member/d/9/d/c/member_266755772.jpeg" style="border-radius:100%; width: 200px">
        </div>
        <div class="col-9">

            <h1 class="display-4">Ben Davis</h1>
            <p>
                I’m a full-stack web developer with over 16 years of experience. Software development is a fulfilling and rewarding job for me. I love to execute big ideas, and I want to use my talents to solve problems and make life easier for people. I jump at the chance to learn new things. I take great pride in my work and the fact that I create things that others find useful.
            </p>

            <p>
                <strong>Skills:</strong>
                <span class="badge badge-info">Bootstrap</span>
                <span class="badge badge-info">Ruby</span>
                <span class="badge badge-info">Python</span>
                <span class="badge badge-info">HTML</span>
                <span class="badge badge-info">CSS</span>
                <span class="badge badge-info">JavaScript</span>
                <span class="badge badge-info">Node.js</span>
                <span class="badge badge-info">Polymer.js</span>
                <span class="badge badge-info">SQL</span>
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col  offset-1">
            <partial name="_SkillsAndDegree.cshtml" />
        </div>
        <div class="col ">
            <partial name="_workAndEducationPartial.cshtml" />
        </div>
    </div>
</div>


